.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(7, 7, 7, 0.801);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;


    &_block {
        width: 50%;
        height: 50vh;
        background-color: #fff;
        color: blueviolet;
    }

    button.after {
        border: 1px solid #fff;
        //background-color: #fff;
        color: #fff;
        margin-left: 50%;
        font-size: 40px;

    }
}